.services {
    position: relative;
    background-image: url('/image/servicesbk.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 79vh;
    -webkit-box-shadow: inset 0px -4px 20px 0px black;
    -moz-box-shadow: inset 0px -4px 20px 0px black;
    box-shadow: inset 0px -4px 20px 0px black;
}

body .banner { 
    background-color: rgb(1, 65, 135);}
@media screen and (max-width: 320px) {
    @media screen and (max-height: 568px) {
        .services {
            min-height: 85vh;
        }
    }
}
.services .btn-scroll {
    position: absolute;
    bottom: 200px;
    right: 100px;
}

.services .btn-scroll span {
    border-color: black;
}

@media screen and (max-height: 800px) {

body .services { 
    padding-bottom: 68px;
}
}

@media screen and (max-width: 768px) {
    .services .btn-scroll {
        bottom: 100px;
        right: 80px;
    }
}

@media screen and (max-width: 414px) {
    .services .btn-scroll {
        right: 194px;
    }
}

@media screen and (max-width: 384px) {
    .services .btn-scroll {
        right: 170px;
    }
}
@media screen and (max-width: 360px) {
    .services .btn-scroll {
        right: 154px;
    }
}

@media screen and  (max-width: 320px) {
    .services .btn-scroll {
        bottom: 75px;
        right: 145px;
    }
}






@media screen and (max-width:1400px) {

.App {
    overflow: hidden;
} 

}
@media screen and (max-width:1267px) {

 body .services .btn-scroll, body .clients-div .btn-scroll {
    bottom: 55px !important;
    right: 16px;
    left: 0;
}

.service-name { 
    top: 0px;}

body .service-icon .icon-img-div {
    margin-left: 0;
    margin-top: 16%;
    width: 100%;
    height: 46px;
    text-align: center;
    margin-bottom: 46px;
}

.experience-div { 
    display: flex;
    height: auto;}

body .service-icon .icon-img-div img { 
    display: inline-block;
}

body span.service-name {
    margin-top: 0;
    padding-bottom: 20px !important;
    padding-top: 0;
}

.service-icon { 
    height: 128px;
}

body .service-icon {
    margin-bottom: 0.05em;
    background: none;
    box-shadow: none;
}

body .service-icon .bk-img {
    width: 111px;
    height: 111px;
    position: absolute;
    -webkit-box-shadow: 0px 0px 15px #000;
    box-shadow: 0px 0px 15px #000;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.services {
    padding: 48px;
    min-height: auto;
    overflow: hidden;
}

body .service-icon {
    height: 174px;
    position: relative !important;
    float: left;
    max-width: 176px;
    text-align: center;
    left: 0 !important;
    top: 0 !important;
    margin: 15px;
    width: 100%;
}


body .show-more {
    position: absolute;
    display: block;
    z-index: 999;
    width: 113px;
    /* top: 0%; */
    height: 113px;
    background-color: #ffffff00;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding-top: 25%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    left: 0;
    right: 0;
    margin: 0 auto !important;
    display: block;
    top: 0;
}



}


@media screen and (max-width:992px) {
body span.service-name { 
    padding-bottom: 20px !important; 
}


}


@media screen and (max-width:728px) {

body .service-icon { 
    max-width: 26%;}
    }

@media screen and (max-width:728px) {
.services {
    padding: 22px 5px;}

   

}


@media screen and (max-width:500px) {
 body .service-icon .icon-img-div {
    margin-left: 0;
    margin-top: 18%;}

    body .service-icon { 
    max-width: 40%;}
   


    }